
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0F0F0F;
    width: 100%;
    height: 100vh;
}

.container {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sider {
    width: 200px;
    height: 100%;
    background-color: black;
}

.main-container {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.nav {
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.search-container {
    width: 50%;
    height: 100%;
    position: relative;
}
.search-icon{
    position: absolute;
    top: 10px;
    left: 9px;
    color: white;
}

.search-input {
    background-color: #121212;
    color: white;
    border: solid 1.5px rgb(163, 162, 162);
    width: 100%;
    height: 70%;
    padding: 0px 60px 0px 30px;
    border-radius: 100px;
}

/* .search-input:hover {
    border: solid 2px rgb(163, 162, 162);
} */

